@model IEnumerable<OnlineTutorBookingSystem.Models.Booking>

@{
    ViewData["Title"] = "My Bookings";
}

<div class="container mt-4">
    <h2>My Bookings</h2>

    <table class="table table-bordered table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>Tutor</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.TutorProfile.User.FullName</td>
                    <td>@booking.TutorProfile.Subject.SubjectName</td>
                    <td>@booking.BookingDate.ToShortDateString()</td>
                    <td>@booking.BookingTime</td>
                    <td>@booking.Status</td>
                </tr>
            }
        </tbody>
    </table>

    <a href="/Student/Dashboard" class="btn btn-secondary">Back</a>
</div>