@model OnlineTutorBookingSystem.Models.TutorProfile

@{
    ViewData["Title"] = "Tutor Details";
}

<div class="container mt-5">
    <div class="card shadow p-4 col-md-8 mx-auto">
        <h2>@Model.User.FullName</h2>

        <p><strong>Subject:</strong> @Model.Subject.SubjectName</p>
        <p><strong>Hourly Rate:</strong> Rs. @Model.HourlyRate</p>
        <p><strong>Experience:</strong> @Model.Experience</p>
        <p><strong>Availability:</strong> @Model.Availability</p>
        <p><strong>Bio:</strong> @Model.Bio</p>

        <a href="/Student/BookLesson/@Model.TutorProfileId" class="btn btn-success">Book Lesson</a>
        <a href="/Student/Tutors" class="btn btn-secondary">Back</a>
    </div>
</div>